*.gem
*.sublime-project
*.sublime-workspace
.DS_Store
.Rproj.user
.bundle
.git/objects/33/fa7d4b208d5db738a478dc21948e76b9696a73
.git/objects/ac/d8583720de93b66331d5a9546d29dad436c6c1
.jekyll-metadata
.sass-cache
Gemfile.lock
_asset_bundler_cache
_site
codekit-config.json
example/_site
node_modules
npm-debug.log*
